/* General Style Improvements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url("../public/images/bg-1.avif") no-repeat center fixed;  
  background-blend-mode: overlay;
  background-attachment: fixed;
  color: #fff;
  min-height: 100vh;
}

/* Optional overlay effect */
body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 0%); /* Dark overlay for text visibility */
  z-index: -1;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
  body {
    background-attachment: fixed; /* Prevents performance issues on smaller devices */
  }
}


/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
